.card {
  position: relative;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid #ffffff12;
  overflow: hidden;
  height: 350px;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.25);
  width: 270px;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.03);
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  padding: 3px 8px;
  border-radius: 7px;
  background: rgba(255, 13, 13, 0.747);
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
}

.imgWrap {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.addBtn {
  background: #242424ff;
  border-radius: 999px;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  transform: scale(1);
  transition: transform 120ms ease, opacity 120ms ease;
  z-index: 3;
}

.addBtn:active {
  transform: scale(0.9);
  opacity: 0.9;
}

.img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  object-fit: cover;
  filter: drop-shadow(0 16px 18px rgba(0, 0, 0, 0.45));
}

.body {
  padding: 0 14px 14px;
  padding-bottom: 100px;
}

.title {
  font-size: 15px;
  font-weight: 900;
  color: var(--text-primary, #fff);
}

.desc {
  font-size: 11px;
  line-height: 1.35;
  color: var(--text-secondary, rgba(255, 255, 255, 0.7));
  opacity: 0.9;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.price {
  font-weight: 500;
  color: var(--highlight-primary, #ffc400);
  font-size: 16px;
}

.minPrice {
  font-weight: 100;
  color: #ffffff55;
  font-size: 12px;
  text-decoration: line-through;
}

.button {
  height: 30px;
  padding: 0px 30px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.18);
  color: var(--text-primary, #fff);
  cursor: pointer;
  font-size: 11px;
  font-weight: 800;
}
